# .gitignore

# Игнорировать конфигурацию IDE
/.idea
*.iml

# Игнорировать настройки операционной системы
.DS_Store
Thumbs.db

# Игнорировать логи и базы данных
*.log
*.sql
*.sqlite
config.php

# Игнорировать кеш
/cache
/public/build

# Игнорировать настроенный PHP.ini
/php.ini

# Игнорировать установочные файлы Composer
/composer.phar
/vendor/
/composer.lock

# Игнорировать файлы с паролями или ключами
/config.php

# Игнорировать node_modules (если вы используете npm или yarn)
/node_modules/

# Не публикуйте файлы и папки, связанные с сборкой
dist/
*.map
*.css.map
*.js.map

# phpstorm project files
*/.idea

# netbeans project files
*/nbproject

# zend studio for eclipse project files
*/.buildpath
*/.project
*/.settings

# windows thumbnail cache
*/Thumbs.db

# composer vendor dir
*/vendor

# composer itself is not needed
*/composer.phar

# composer lock
*/composer.lock

# Mac DS_Store Files
*/.DS_Store

# phpunit itself is not needed
*/phpunit.phar
# local phpunit config
*/phpunit.xml

*/tests/_output/*
*/tests/_support/_generated

#vagrant folder
*/.vagrant