/* Разделитель */
hr {
    margin: 30px 100px;
    border: 0;
    border-top: 1px solid #c9c7c7;
}

/* Отступ от края экрана */
h1,
h2,
h3,
p,
.checkbox,
.form,
.Validate_Required,
.box,
.counter,
#counter1,
#feedback,
button,
#overlay {
    /* text-align: center; */
    margin-left: 30%;
}

/* Всплывающее окно */
.box {
    display: none;
}

/*  */
input[type="text"],
input[type="email"],
input[type="url"] {
    width: 400px;
}

.counter {
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    border: 1px dashed grey;
    margin: 0px 0;
}

.counter:hover {
    cursor: pointer;
    background-color: #360581;
}

.form input {
    display: block;
}

/* Всплывающее окно */
#blablabla {
    display: none;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}

#blablabla.open {
    display: block;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(17, 17, 17, 0.5);
    transition: all 0.5s ease;
    display: none;
}

.popup_open {
    display: block;
}

.popup__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    max-width: 588px;
    width: 100%;
}

#overlay {
    margin-bottom: 5px;
}
.popup__wrapper{
    padding: 40px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#name {
    line-height: 0px;
}